




/* footer */

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--cor-preto);
   
}

.footer-conteiner{
    justify-content: space-between;
    display: flex;
    align-items: flex-start;
    padding: 2rem 0;
}

.title-footer{
    color: var(--cor-amarelo);
    margin-bottom: 1rem;
}

.footer-barber{
    flex: 1; /*para conseguir deixar o tamanho das colunas proporcional*/
    margin-left: 2rem;
}


.footer-barber p{
    color: var(--cor-cinza-claro);
    opacity: 0.7;

}


.social-icons{

    margin: 1rem;
}

.instagram-link {
    font-size: 2rem; 
    color: var(--cor-branco); 
    text-decoration: none;
    display: inline-block;
}

.instagram-link:hover {
    background-color: var(--cor-amarelo-hover);

    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    transform: scale(1.1);
}

.facebook-link {
    font-size: 2rem; 
    color: var(--cor-branco); 
    text-decoration: none;
    display: inline-block;
    padding-left: 1rem;
}


.facebook-link:hover {
    background-color: var(--cor-amarelo-hover);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    
    transform: scale(1.1);
}



.footer-resto{
    color: var(--cor-cinza-claro);
    margin: 0 2rem;
    flex: 1;
}


.footer-resto p{
    margin-top: 10px;
    opacity: 0.7;
}

.footer-resto p i{
    color: var(--cor-amarelo);
    margin-right: 10px;
    font-size: 1 rem;
    width: 20px;
    text-align: center;
}


.footer-links{
    color: var(--cor-cinza-claro);
    margin: 0 2rem;
    flex: 1;
}


.footer-links a{
    text-decoration: none;
    padding: 5px 0;
    color: var(--cor-cinza-claro);
    display: block;
    opacity: 0.7;
    
}

.footer-links a:hover{
    color: var(--cor-amarelo-hover);
    transform: translateX(5px)
}


.footer-copyright{
    border-top: 1px solid rgba(255, 255, 255, 0.08);

    margin: 2rem;
    padding-top: 1.5rem;
    text-align: center;
}

.footer-copyright p{
    color: var(--cor-cinza-claro);
    font-size: 0.9rem;
    opacity: 0.7;
}